.services{
    box-sizing: border-box;
}

.mySlides {
    display: none;
}
img {
    vertical-align: middle;
}
.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;

}
.prev, .next {
    cursor: pointer;
    position: inherit;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
    
}


body {
    height: auto;
    width: auto;
    margin: 0;


    
    
}
.backgroundimghead{
    background-image: url("images/3 bedroom 001.png");
    height: 800px;
    width: 100%;
}

.navbar {
    background-color: #ffffff;
    opacity: 50%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.navdiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
ul{
    padding-right: 25%;
    list-style-type: none;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

.navdiv li a{
    font-size: 20px;
    text-decoration: none;
    color: gray;
    font-weight: 700;
}

li a:hover{
    color: darkcyan;

}

.logo-container {
    
    position: inherit;
    flex-direction: row;
    padding-left: 15px;
}



.Intro-header {
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 250px;
    border-top: #000000;
    
    
    
}

.borderstyle {
    border: 3px solid grey;
    border-radius: 25px;
    background-color: white;
    opacity: 90%;
    
}
.borderstyle2{

}


h2 {
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 197, 111);
    line-height: 2cm;
    margin: 20px;
    text-align: center;
    text-transform: capitalize;
}
h4 {
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-left: 20px;
    
}
.about{
    background-image: url("images/FINAL.png");
}

.about div {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 400px;
}
.aboutinfocontainer {
    display: inherit;
    width: 300px;
    flex-direction: column;
}

p {
    text-align: center;
    line-break: auto;
    font-size: 20px;
    margin-left: 300px;
    margin-right: 300px;
    color: rgb(255, 255, 255);
}
#aboutinfo p {
    border: 3px solid grey;
    border-radius: 25px;
    background-color: white;
    margin-top: 30px;
    line-break: strict;
    text-align: justify;
}

#aboutheader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: hsl(255, 197, 111);
    margin-top: 0px;
    padding-top: 70px;
}



#serviceheader {
    padding-top: 25px;
    margin-top: 0;
    justify-content: center;
    font-weight: bolder;
}

.servicedetails p {
    padding-top: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    color: aqua;
    font-weight: 600;
}

.ccontainer {
    padding: 0rem;
    background-color: darkgrey;
    margin-top: -20px;
}



.contact-subhead {
    display: inline;
    margin-left: 40%;
    margin-right: 38%;
}
#contactus {
    background-color: grey;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    padding: 50px;
    background-color: dimgrey;
    box-shadow: 0 30px 50px #dbdbdbd;

}

.ccontainer {
    padding: 2rem;
}


#contactus {
    background-color: darkgray;
    height: auto;
}