
header{
    display: flex;
    justify-content: center;
    width: auto;
    
}


body {
    margin: 0;
    width: 100%;

    
    
}
.backgroundimghead{
    background-image: url("images/3 bedroom 001.png");
    height: 800px;
    width: 100%;
}

.navbar {
    background-color: #ffffff;
    opacity: 50%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.navdiv{
    display: flex;
    flex-direction: row;
}
ul{
    padding-right: 25%;
    list-style-type: none;
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

.navdiv li a{
    font-size: 20px;
    text-decoration: none;
    color: gray;
    font-weight: 700;
}

li a:hover{
    color: darkcyan;

}

.logo-container {
    
    position: inherit;
    flex-direction: row;
    padding-left: 15px;
}



.Intro-header {
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 250px;
    border-top: #000000;
    
    
    
}

.borderstyle {
    border: 3px solid grey;
    border-radius: 25px;
    background-color: white;
    opacity: 90%;
    
}
.borderstyle2{

}


h2 {
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 197, 111);
    line-height: 2cm;
    margin: 20px;
    text-align: center;
    text-transform: capitalize;
}
h4 {
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-left: 20px;
    
}
.about{
    background-image: url("images/FINAL.png");
}

.about div {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 400px;
}
.aboutinfocontainer {
    display: inherit;
    width: 300px;
    flex-direction: column;
}

p {
    text-align: center;
    line-break: auto;
    font-size: 20px;
    margin-left: 300px;
    margin-right: 300px;
    color: rgb(255, 255, 255);
}
#aboutinfo p {
    border: 3px solid grey;
    border-radius: 25px;
    background-color: white;
    margin-top: 30px;
    line-break: strict;
    text-align: justify;
}

#aboutheader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: hsl(255, 197, 111);
    margin-top: 0px;
    padding-top: 70px;
}



#serviceheader h2 {
    justify-content: center;
    font-weight: bolder;
}

.servicedetails p {
    padding-top: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    color: aqua;
    font-weight: 600;
}

.ccontainer {
    padding: 0rem;
    background-color: darkgrey;
    margin-top: -20px;
}

.slider-wrapper {
    position: relative;
    max-width: 85rem;
    margin: 0 auto;
}
.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: inset;
    border-radius: 0.5rem;
}
.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.75;
    transition: opacity ease 200ms;
}
.slider-nav a:hover {
    opacity: 100%;
    color: slategrey;
}

#contactus {
    background-color: darkgray;
    display: flex;
    flex-direction: row;
}

#contactus h2 {
    padding-top: 25px;
    justify-content: center;
    width: 100%;
    height: 40%;
    
}
#contactus li {
    align-items: flex-end;
}
.contactheader {
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 197, 111);
}

.imglist li{
    padding-right: 30%;
    display: inherit;
    justify-content: space-evenly;

}
