header{
    display: flex;
    justify-content: center;
    
}


body {
    margin: 0;
    
    
}
.backgroundimghead{
    background-image: url("images/3 bedroom 001.png");
    height: 800px;
    width: 100%;
}

.navbar {
    background-color: #ffffff;
    opacity: 50%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.navdiv{
    display: flex;
    flex-direction: row;
}
ul{
    list-style-type: none;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.navdiv li a{
    font-size: 20px;
    text-decoration: none;
    color: gray;
    font-weight: 700;
}

li a:hover{
    color: darkcyan;

}

.logo-container {
    
    position: inherit;
    flex-direction: row;
    padding-left: 15px;
}



.Intro-header {
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 283px;
    border: 2px solid #ffffff86;
    
    
}

h2 {
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 197, 111);
    line-height: 2cm;
    margin: 20px;
    text-align: center;
    text-transform: capitalize;
}
h4 {
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    
}
.about{
    background-image: url("images/FINAL.png");
}
.about div {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 400px;
}
.aboutinfocontainer {
    display: inherit;
    width: 300px;
    flex-direction: column;
}

p {
    text-align: center;
    line-break: auto;
    font-size: 20px;
    margin-left: 300px;
    margin-right: 300px;
}

#aboutheader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: burlywood;
}

.servicesection {
    width: 100%;
    display: flex;
    justify-content: center;

}

#serviceheader h2 {
    
}




